<div class="form-group" [formGroup]="form">
  <label [for]="name.id">{{ name.label }}</label>
  <input type="text" class="form-control" isInvalid formControlName="name" [id]="name.id">
  <field-error [field]="form.get('name')"
               [label]="name.label"
               [messages]="name.validationMessage"></field-error>
</div>
<div class="form-group" [formGroup]="form">
  <label for="photo">Foto</label>
  <input type="file" class="form-control" id="photo" (change)="onChoosePhoto($event.target.files)">
</div>
